
<div
  
>
<form  style= "display: flex;
align-items: center;
justify-content: center;
height: 100vh;  
flex-direction: column;
gap: 20px;"action="">
    <mat-form-field appearance="fill">
      <mat-label>Enter your name</mat-label>
      <input type="text" matInput placeholder="Name" required=""/>
    </mat-form-field>


<! -- MatSelect -->
<mat-form-field appearance="fill">
    <mat-label>Select your favorite food</mat-label>
    <mat-select>
        <mat-option value="1">Pizza</mat-option>
        <mat-option value="2">Burger</mat-option>
        <mat-option value="3">Pasta</mat-option>
    </mat-select>    
  </mat-form-field>
<!--MatDatepicker -->
<mat-form-field ammearance="fill">
    <mat-label>Choose your date of birth</mat-label>
    <input matInput [matDatepicker]="picker" required="" />
    <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

  </form> 
</div>

